/* #EEC61F */

* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Code';
}

head {
    display: none;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: lightgray;
}

/* Main app */
.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 20px;
}

.calculator {
    width: 400px;
    border: 2px solid black;
    box-shadow: 2px 2px;
    border-radius: 10px;
    padding: 20px;
    background-color: gray;
}

.display {
    background-color: whitesmoke;
    text-align: right;
    word-break: break-all;

    padding: 10px 20px;
    margin-bottom: 30px;

    border: 1.5px solid black;
    border-radius: 10px;
}

.current {
    padding: 10px;
    font-size: 3em;
}

.previous {
    padding: 10px;
    font-size: 1em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
}

#button:hover {
    scale: 1.03;
}

#button:active {
    transform: scale(1.04);
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

.enter {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}