/* #EEC61F */

* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Code';
}

head {
    display: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: #676767; */
}

/* Main app */
.app {
    border: 4px solid black;
    border-radius: 1%;
    background-color: #676767;

    height: 600px;
    width: 450px;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 2em;
    gap: 2em;
}

.display {
    display: flex;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;

    height: 120px;
    width: 100%;
    padding-right: 20px;
    padding-left: 10px;
}

.current {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 20px;
    font-size: 2em;
}

.previous {
    position: absolute;
    top: 0;
    right: 0;

    padding: 20px;
    font-size: 0.75em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: whitesmoke;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

.enter {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}